<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>hello spring boot</title>
</head>
<body>

<!--<p>欢迎你登录到阿里巴巴网站</p>-->
<p><label th:text="#{welcome}"></label></p>
</body>

<form action="/changeSessionLanauage" method="get">
    <input name="lang" type="hidden" value="zh" />
    <button>切换为中文</button>
</form>

<form action="/changeSessionLanauage" method="get">
    <input name="lang" type="hidden" value="en" />
    <button>切换为英文</button>
</form>
</html>
